<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet"> 
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Document 5</title>
</head>
<body>
  
  <div id="app" class="container">

    <aside class="left"> <!-- left -->

      <header id="user" class="account-info"> <!-- account info -->
        
        <div class="account"> <!-- account avatar + account name -->
          <img :src="'img/avatar'+ user.avatar +'.jpg'" alt="">
          
          <div class="name">
            {{ user.name }}
          </div>
        </div> <!-- /account avatar + account name -->

        <div class="account-buttons"> <!-- account buttons -->
          <button class="circle">
            <i class="fas fa-circle-notch"></i> <!-- spinner circle icon -->
          </button>
  
          <button class="message">
            <i class="fas fa-comment-alt"></i> <!-- message icon -->
          </button>

          <button class="settings">
            <i class="fas fa-ellipsis-v"></i> <!-- settings icon -->
          </button>
        </div> <!-- /account buttons -->

      </header> <!-- /account info -->

      <div class="notification-update"> <!-- notification update -->

        <i class="fas fa-bell-slash"></i> <!-- notification bell -->

        <div class="notification-text">
          <h4>
            Ricevi notifiche di nuovi messaggi
          </h4>
          
          <span>
            Attiva notifiche desktop
          </span>
        </div>
      </div> <!-- /notification update -->

      <nav> <!-- nav containing search bar text and contact-list -->
        <div class="search-bar">
          <input type="text" 
            v-model="search" 
            placeholder="Cerca o inizia una nuova chat"
            ref="input"
          >
          <i class="fas fa-search"
            @click="inputFocus"
          ></i> <!-- search icon -->
        </div> 

        <ul class="contact-list"> <!-- contact-list -->
          <template v-for="(contact, index) in filterContacts">
            <li @click="index_dir = index"
              :class="index_dir === index ? 'active' : null"
            >
            <!-- 'img/avatar' + contact.avatar+ '.jpg' -->
              <img :src="addImageToAvatar(contact.avatar)" alt="">
              <span class="contact-name">
                {{ contact.name }}
              </span>
              <span class="last-message">
                {{ lastMessage(index) }}
              </span>
            </li>
          </template>
        </ul> <!-- /contact-list -->
      </nav> <!-- /nav containing search bar text and contact-list -->


    </aside> <!-- /left -->

    <main class="right"> <!-- right -->
      
      <header id="contact" class="account-info"> <!-- contact info -->
      
        <div class="account"> <!-- account account + account name -->
          <img :src="addImageToAvatar(filterContacts[index_dir].avatar)" alt="">
          
          <div class="contact-name-log">
            <div class="name">
              {{filterContacts[index_dir].name}}
            </div>
            <div class="last-log">
              Ultimo accesso: {{ lastAccess(index_dir) }}
            </div>
          </div>
        </div> <!-- /account account + account name -->


        <div class="account-buttons"> <!-- account buttons -->
          <button class="circle">
            <i class="fas fa-search"></i> <!-- search icon -->
          </button>
  
          <button class="message">
            <i class="fas fa-paperclip"></i> <!-- paperclip icon -->
          </button>

          <button class="settings">
            <i class="fas fa-ellipsis-v"></i> <!-- settings icon -->
          </button>
        </div> <!-- /account buttons -->

      </header> <!-- /contact info -->      

      <section>
        <template v-for="(message, index) in filterContacts[index_dir].messages">
          <div class="message"> <!-- message section -->
            
            <!-- speech bubble -->
            <div class="speech-bubble" 
            :class="message.status === 'sent' ? 'sent' : 'recieved' ">  
              {{ message.text }}

              <div class="date">
                {{ message.date }}
              </div>

              <!-- con l'@click do la direttiva di quale dropdown voglio indicare -->
              <i class="fas fa-chevron-down"                
                @click="index_dropdown = index"            
              ></i> <!-- down arrow -->
              
              <!-- con il v-if e il v-else decido se far apparire o scompaarire il doropdown menu -->
              <ul class="dropdown_messagesetting"
                v-if="index === index_dropdown"
                v-else="index= !index"               
              >
                <li>
                  Message info
                </li>
                <li @click="deleteMessage(index_dropdown)">
                  Delete message
                </li>
              </ul>              
            </div> <!-- /speech bubble -->

          </div> <!-- /message section -->

          

        </template>
      </section>

      <footer>
        <button>
          <i class="far fa-smile"></i> <!-- smile icon -->
        </button>

        <!-- input text message -->
        <input type="text"
        v-model.trim="text"
        @keyUp.enter="sendText(text, index_dir)"
        placeholder="Scrivi un messaggio">
        <!-- /input text message -->

        <button>
          <i class="fas fa-microphone"></i> <!-- microphone icon -->
        </button>
      </footer>

    </main> <!-- /right -->


  </div>

  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/locale/it.js"></script>
  <script src="js/script.js"></script>
</body>
</html>